{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    ["relay", {"schema": "config/schema.json"}],
    "transform-runtime",
    "transform-decorators-legacy"
  ]
}
