body{
    margin: 0;
}

.player1 {
    bottom: 50px;
}

.player2 {
    top: 50px;
}

.app {
    &__full-screen-btn{
        position: fixed;
        width: 100%;
        background-color: white;
    }
}