/*.board {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}*/

.board {
    position: relative;
    width: 450px;
    margin: 70px auto 0;
}

.cards {
    position: relative;
    display: flex;
}

.flop, .turn, .river {
    margin: 0 10px;
    text-align: center;
}